@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

span{
    margin-bottom: 1rem;
}
.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 6rem;
}

table{
    width: 450px;
    height: 450px;
    background: rgba(0,0,0, 0.3);
}

td{
    background-color: #fff;
    text-align: center;
    width: 147px;
    height: 147px;
}

td:hover{
    cursor: pointer;
    opacity: .25;
    transition: opacity .15s ease-out;
}
